@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    background-color: #f4f7ff;

}

.nav {
    width: 1600px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin: 25px auto;
    background-color: #fff;
    border-radius: 1rem;
}

.nav-left {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.nav-right {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.375rem;
}

.check-box {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.check-box-number {
    color: #1e1e1e;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.logo-text-1 {
    color: #00303c;
    font-size: 35.67px;
    font-weight: 500;
}

.logo-text-2 {
    font-weight: 700;
}

.theme-btn {
    cursor: pointer;
}

.main {
    max-width: 1920px;
    width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.hero {
    display: flex;
    margin-bottom: 30px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.hero-left {
    width: 263px;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: #f4f7ff;
    padding: 16px;
    margin-right: 20px;
}

.hero-left-img {
    background-color: #ffffff;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-left-title {
    color: #00303c;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

.hero-left-number {
    color: #00303c;
    font-size: 32px;
    font-weight: 700;
    text-align: left;
}

.hero-middle {
    flex: 1;
    width: 524px;
    height: 128px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 12px;
    gap: 20px;
    padding: 30px;
    background: linear-gradient(130.70deg, rgb(55, 82, 253) 0.419%, rgb(108, 127, 250) 52.66%, rgb(155, 168, 248) 99.733%);
    margin-right: 20px;
}

.hero-moddle-img {
    border: 2px dashed white;
}

.hero-middle-desc {
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
}

.hero-right {
    width: 263px;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: #f4f7ff;
    padding: 16px;
    margin-right: 20px;
}

.hero-right-img {
    background-color: #ffffff;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-right-date {
    color: #00303c;
    font-size: 22px;
    font-weight: 700;
}

.hero-right-day {
    color: #00303c;
    font-size: 22px;
    font-weight: 500;
}

.section-left {
    border-radius: 16px;
    background-color: #fff;
    padding: 20px;
}

.section-right {
    background-color: #fff;
    border-radius: 16px;
    padding: 20px;
}

.card-container {
    width: auto;
}

.card {
    width: 342px;
    height: 317px;
    border-radius: 16px;
    background-color: #f4f7ff;
    padding: 20px;
}

.card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    background-color: #ffffff;
    width: 125px;
    height: 40px;
    color: #00303c;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 24px;
}

.card-heading {
    color: #00303c;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 32px;
}

.card-desc {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    box-sizing: border-box;
    border: 0.5px dashed #3752fd00;
    border-radius: 8px;
    background-color: #ffffff;
    /* opacity: 0.5; */
    padding: 10px 16px;
}

.card-hr {
    margin-top: 6px;
    outline: 1px dashed rgb(158, 143, 143);
    border: none;
}

.card-footer {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-desc-text {
    color: #00303c;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

.card-desc-date {
    color: #00303c;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

.btn {
    border-radius: 8px;
    background-color: #3752fd;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 10px 20px 10px 20px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    cursor: pointer;
}
.btn:hover{
    background-color: #fff;
    color: black;
    transition: all 500ms ease;
}